/*---------------------------Keyframes--------------------------------------*/
@keyframes animation1 {
    0% {
        transform: translateY(-500px);
        opacity: 0;
    }
    50% {
        transform: translateY(0px);

    }
    60% {
        transform: translateY(-50px);
    }
    70% {
        transform: translateY(0px);
    }
    85% {
        transform: translateY(-25px);
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*---------------------------WELCOME AND BODY --------------------------*/
.navbar .active {
    text-decoration: underline;
    text-decoration-style: double;
}

.white-row {
    height: 210px;
}
.no_deco {
    text-decoration: none;
}
.body_welcome {
    font-family: 'Merienda', cursive;
    background-image: url(photos.jpg/welcome_picture7.jpg);
    background-size: 100% 700px;
    background-repeat: no-repeat;
    background-color: rgb(248, 232, 201);
}
.body_welcome .jumbotron {
    color: white;
}
.card-body {
    background-image: linear-gradient(to bottom, white 40%, red);
}
.body_welcome .jumbotron h1, h2 {
    font-size: 400%;
}
.my_button {
    color: black;
    height: 60px;
    width: 200px;
    filter: opacity(1);
    border: 3px solid white;
    background-color: white;
}
.my_button:hover {
    filter: opacity(0.7);
    color: white;
    background-color: black;
    font-size: 120%;
}
.voir_menu {
    font-size: 130%;
    text-decoration: none;
    color: white;
    font-weight: 700;
    text-decoration: underline;
}
.nav-item:active {
    border: 1px solid white;
}
.nav-item, .navbar-brand {
    font-size: 130%;
    font-weight: bold;
}
.photo1 {
    box-shadow: 3px 3px 5px black;
}
.photo2 {
    box-shadow: 5px 5px 8px black;
}
/* ----------------------Menu page---------------------------- */
.body_menu {
    background-image: url(photos.jpg/menu-photo2.jpg);
    background-size: 100% 700px;
    background-repeat: no-repeat;
    background-color: rgb(228, 224, 216);
    font-family: 'Merienda', cursive;
    font-size: 100%;
}
.white-row-menu1 {
    height: 330px;
}
.white-row-menu {
    height: 100px;
}
.col-2 h2 {
    font-size: 300%;
    text-decoration: underline;
}
.body_menu .jumbotron h1 {
    font-size: 550%;
    color: white;
}
.body_menu .jumbotron h2 {
    font-size: 270%;
    color: white;
}
/*--------------------------------PICTURES_-------------------------------*/
.body_pictures {
    font-family: 'Merienda', cursive;
    background-image: url(photos.jpg/Pictures_photo.jpg);
    background-size: cover;
}
.d-lg-inline {
    transition: 1s ease ;
}
.d-lg-inline:hover {
    transform: scale(1.4);
}
.carousel-inner {
    padding-top: 100px;
    padding-left: 105px;
    padding-bottom: 100px;
}
.pictures_header {
    font-size: 330%;
    text-decoration: underline;
}
.my_footer {
    font-size: 120%;
    font-weight: 500;
}
/*--------------------------FORM----------------------------------------------------*/
.form_form {
    background-image: linear-gradient(to bottom, rgb(226, 245, 250), rgb(116, 165, 182),rgb(236, 181, 29));
    border-radius: 30px;
    animation: animation1 1.4s cubic-bezier(0,.27,0,1.65)/*cubic-bezier(.1,.53,0,1.24)*/ 1s 1 both;
}
.form_body {
    background-image: url(photos.jpg/form_picture0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.form_header {
    text-decoration: underline;
}
/*-----------------------------------RESTAURANTS------------------------------------*/
.restaurants_body {
    background-image: url(photos.jpg/restaurants_picture10.jpg);
    font-family: 'Merienda', cursive;
}
.my_hover {
    transition: 1s ease;
}
.my_hover:hover {
    transform: scale(1.2);
}
.restaurant_h1 {
    text-decoration: underline;
}
/*--------------------------------CONTACT------------------------------------------*/
.contact_body {
    font-family: 'Merienda', cursive;
    background-image: url(photos.jpg/contact_picture7.jpg);
    background-repeat: no-repeat;
    background-color: rgb(233, 203, 203);
}
.big_contact {
    background-color: rgb(243, 225, 225);
}
.my_h5 {
    text-decoration: underline;
}
.social_media {
    text-decoration: underline;
}
.social_media:active {
    animation: rotation 0.2s ease;
}
.social_media:hover {
    transform: scale(1.1);
}
.contact_underline {
    text-decoration: underline;
}
.contact_form {
    background-color: rgb(243, 224, 224);
}
.fb_class {
    border-radius: 40%;
}